<template>
  <div class="d-flex justify-content-center container">
    <div class="w-75">
      <form @submit.prevent="!selectedTodo ? addTodo() : updateTodo()">
        <div class="mb-3 mt-5">
          <label for="todo">What's your todo?</label>
          <div class="d-flex">
            <input
              v-model="todo"
              type="text"
              class="form-control"
              id="todo"
              placeholder="eg. Create todo applications"
            />
            <button v-if="!selectedTodo" class="btn btn-primary ms-3">
              <i class="bi bi-plus-circle-fill"></i>
            </button>
            <button v-else class="btn btn-primary ms-3">
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
      </form>
      <div
        @click="selectTodo(row)"
        class="toast show mt-2 w-100"
        v-for="row in todoList"
        :key="row.id"
      >
        <div class="toast-header">
          <strong class="me-auto">{{ row.todo }}</strong>
          <button
            :class="`btn btn-${
              row.is_done ? 'success' : 'outline-secondary'
            } btn-sm`"
            @click.stop="markAsdone(row)"
          >
            <i class="bi bi-check-lg"></i>
          </button>
          <button
            class="btn btn-danger btn-sm ms-1"
            @click.stop="removeTodo(row)"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue"; //importing ref method that can holds a value

let todoList = ref([]);
let todo = ref(null);
// adding todo
const addTodo = () => {
  //arrow function with no parameter
  if (validateTodo(todo.value)) {
    //conditional statement connecting to the validateTodo function
    let id = todoList.value.length; //variable id is equal to the todoList  object value, with the length method to count how many array data is in the object/array
    todoList.value.push({
      //using push method to add new value to the todoList
      id: ++id, //adding new values;
      todo: todo.value,
      is_done: false,
    });
    todo.value = null;
  }
};
//validating the todo if it is already exist in the array
const validateTodo = (new_todo) => {
  let index = todoList.value.findIndex((t) => t.todo === new_todo);
  if (index !== -1) {
    alert("Todo already exist");
    return false;
  } else {
    return true;
  }
};
// selected todo for passing the index or id of the array value
let selectedTodo = ref(null);
const selectTodo = (row) => {
  selectedTodo.value = row;
  todo.value = row.todo;
};
//updating todo
const updateTodo = () => {
  if (validateTodo(todo.value)) {
    let index = todoList.value.findIndex((t) => t.id === selectedTodo.value.id);
    index !== -1 && (todoList.value[index].todo = todo.value);

    todo.value = selectedTodo.value = null;
  }
};
//marking todo as done
const markAsdone = (row) => {
  if (confirm(`Are you sure you want to mark ${row.todo} as done?`)) {
    let index = todoList.value.findIndex((t) => t.id === row.id);
    index !== -1 && (todoList.value[index].is_done = true);
  }
};
// remove todo function
const removeTodo = (row) => {
  if (confirm(`Are you sure you want to delete ${row.todo} ?`)) {
    let index = todoList.value.findIndex((t) => t.id === row.id);
    index !== -1 && todoList.value.splice(index, 1);
  }
};
</script>

<style scoped></style>
